{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <div class="text-center">
                    <img alt="Wikipedia Logo" src="https://png2.cleanpng.com/sh/96e564b751684255e713a8294e19646b/L0KzQYm3VMIxN6NsfZH0aYP2gLBuTgdqc5p1fdZyYT3vf7j2Tf9vdJpzfZ9ubnP8c732kPVlcZIyj9t0aX3odLroTfZwfZ9pReNAZT24cbXoUvFlOJI4eaY9Nj66R4i4Vcg5PmI6SqY7NEe1RIm9V8A0NqFzf3==/kisspng-wikipedia-logo-online-encyclopedia-wikimedia-found-que-5ada2ad0a3a446.7771588615242472486703.png">
                    <h2>Wiki</h2>
                </div>
                <div class="container-fluid">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        {{ search }}
                    </form>
                    <div>
                        <a href="{% url 'index' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'new' %}">Create New Page</a>
                    </div>
                    <div>
                        <a href="{% url 'random' %}">Random Page</a>
                    </div>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>